In [1]:
import pandas as pd
import numpy as np

In [2]:
brands_match_score_df=pd.read_csv('brand_match_scores.csv')

In [3]:
brands_match_score_df.head()

,brand_username,brand_category,brand_bio,influencer_username,influencer_category,engagement_rate_scaled,pagerank,bot_score,sponsored_posts_scaled,combined_text_infl,match_type,category_relevance_score,sentiment_score,brand_match_score,brand_match_score_scaled
0,sarya12,Creators & Celebrities,SAüí´ So glad to see you here...AGAIN ;)! Twitt...,inspiredbynick,Creators & Celebrities,0.195384,0.000010,0.650675,0.131222,creators celebrities nick joly plant based ath...,random_mismatch,0.054910,50.03,7.522761,0.501372
1,unpublished,Personal Goods & General Merchandise Stores,wear what you want #unpublisheddenim #unpublis...,amy_jimin2,unknown,0.084011,0.000032,0.822662,0.000000,unknown a k a bbo with love to read love to ea...,random_mismatch,0.000000,50.00,7.438743,0.495840
2,sebastianyatra,Creators & Celebrities,Cantautor Colombiano 23 | Universal Music üôèüèª‚ö°...,jennacompono,Creators & Celebrities,0.155927,0.000065,0.577329,0.018100,creators celebrities jenna compono mtv s the c...,random_mismatch,0.061416,51.22,7.677094,0.511533
3,britishvogue,Publishers,"Fashion, beauty and lifestyle through the Vogu...",lindseylondonmumma,Creators & Celebrities,0.211874,0.000024,0.561926,0.022624,creators celebrities l i n d s e y mumma blogg...,random_mismatch,0.000000,49.79,7.469806,0.497885
4,johncena,Creators & Celebrities,Welcome to my Instagram. These images will be ...,flormorenapmw,Personal Goods & General Merchandise Stores,0.056785,0.000003,0.664341,0.000000,personal goods general merchandise stores flor...,random_mismatch,0.000000,54.35,8.100262,0.539396

In [4]:
print(brands_match_score_df.columns.tolist())

['brand_username', 'brand_category', 'brand_bio', 'influencer_username', 'influencer_category', 'engagement_rate_scaled', 'pagerank', 'bot_score', 'sponsored_posts_scaled', 'combined_text_infl', 'match_type', 'category_relevance_score', 'sentiment_score', 'brand_match_score', 'brand_match_score_scaled']

In [ ]:
brands_match_score_df.drop(columns=['combined_test_infl','match_type','brand_match_score'],inplace=True)

In [7]:
brands_match_score_df.head()

,brand_username,brand_category,brand_bio,influencer_username,influencer_category,engagement_rate_scaled,pagerank,bot_score,sponsored_posts_scaled,combined_text_infl,match_type,category_relevance_score,sentiment_score,brand_match_score,brand_match_score_scaled
0,sarya12,Creators & Celebrities,SAüí´ So glad to see you here...AGAIN ;)! Twitt...,inspiredbynick,Creators & Celebrities,0.195384,0.000010,0.650675,0.131222,creators celebrities nick joly plant based ath...,random_mismatch,0.054910,50.03,7.522761,0.501372
1,unpublished,Personal Goods & General Merchandise Stores,wear what you want #unpublisheddenim #unpublis...,amy_jimin2,unknown,0.084011,0.000032,0.822662,0.000000,unknown a k a bbo with love to read love to ea...,random_mismatch,0.000000,50.00,7.438743,0.495840
2,sebastianyatra,Creators & Celebrities,Cantautor Colombiano 23 | Universal Music üôèüèª‚ö°...,jennacompono,Creators & Celebrities,0.155927,0.000065,0.577329,0.018100,creators celebrities jenna compono mtv s the c...,random_mismatch,0.061416,51.22,7.677094,0.511533
3,britishvogue,Publishers,"Fashion, beauty and lifestyle through the Vogu...",lindseylondonmumma,Creators & Celebrities,0.211874,0.000024,0.561926,0.022624,creators celebrities l i n d s e y mumma blogg...,random_mismatch,0.000000,49.79,7.469806,0.497885
4,johncena,Creators & Celebrities,Welcome to my Instagram. These images will be ...,flormorenapmw,Personal Goods & General Merchandise Stores,0.056785,0.000003,0.664341,0.000000,personal goods general merchandise stores flor...,random_mismatch,0.000000,54.35,8.100262,0.539396

<h4>To get the brand name column in the above datset</h4>

In [8]:
brands_profile=pd.read_csv('profiles_brands_parsed.csv')

In [10]:
brands_profile.head()

,username,name,followers,followees,posts,url,category,bio,email,phone,profile_pic
0,delightedbydesserthummus,The Original Dessert Hummus‚Ñ¢,47982,2612,1390,http://www.delightedbyhummus.com/,Food & Personal Goods,A healthy treat for your sweet-tooth! Made wit...,contact@delightedbyhummus.com,NaN,https://scontent-lax3-1.cdninstagram.com/vp/06...
1,liketoknow,LIKEtoKNOW.it,3057208,1506,18984,http://hyperurl.co/agzn0m,Personal Goods & General Merchandise Stores,Download the LIKEtoKNOW.it app now to Shop You...,info@liketoknow.it,NaN,https://scontent-lax3-1.cdninstagram.com/vp/c2...
2,jofamafashion,JOFAMA - Fashion,16942,416,1221,http://www.jofamafashion.com/,Personal Goods & General Merchandise Stores,Leather jackets with attitude since 1926. Free...,info@jofama.se,NaN,https://scontent-lax3-1.cdninstagram.com/vp/84...
3,opullenceparis,OPULLENCE PARIS,44553,1714,502,http://www.opullence.com/,Personal Goods & General Merchandise Stores,Fabriqu√©e √† Paris avec amour ‚ù§Ô∏è üá´üá∑,opullenceparis@gmail.com,NaN,https://scontent-lax3-1.cdninstagram.com/vp/25...
4,hellobody_it,HelloBody Italia,164530,173,872,http://www.hellobody.it/shop/,Personal Goods & General Merchandise Stores,üåø Per una cura della pelle e dei capelli natur...,help@hellobody.it,NaN,https://scontent-lax3-1.cdninstagram.com/vp/26...

In [19]:
import pandas as pd

# --- Load datasets if not already loaded ---
# brands_profile = pd.read_csv("brands_profile.csv")
# brands_match_df = pd.read_csv("brands_match_score_df.csv")

# --- Merge both datasets on brand username ---
brands_match_score_df = pd.merge(
    brands_match_score_df,
    brands_profile.rename(columns={'username': 'brand_username'}),  # rename for consistent key
    on='brand_username',
    how='left'  # keep all records from brands_match_df
)

print("‚úÖ Brand profile details merged successfully!")

‚úÖ Brand profile details merged successfully!

In [20]:
brands_match_score_df.head()

,brand_username,brand_category,brand_bio,influencer_username,influencer_category,engagement_rate_scaled,pagerank,bot_score,sponsored_posts_scaled,combined_text_infl,...,name,followers,followees,posts,url,category,bio,email,phone,profile_pic
0,sarya12,Creators & Celebrities,SAüí´ So glad to see you here...AGAIN ;)! Twitt...,inspiredbynick,Creators & Celebrities,0.195384,0.000010,0.650675,0.131222,creators celebrities nick joly plant based ath...,...,Shraddha Arya,1065422,228,962,NaN,Creators & Celebrities,SAüí´ So glad to see you here...AGAIN ;)! Twitt...,knackfortalent@gmail.com,NaN,https://scontent-lax3-1.cdninstagram.com/vp/c0...
1,unpublished,Personal Goods & General Merchandise Stores,wear what you want #unpublisheddenim #unpublis...,amy_jimin2,unknown,0.084011,0.000032,0.822662,0.000000,unknown a k a bbo with love to read love to ea...,...,Unpublished,4184,1248,975,http://unpublishedcollection.com/,Personal Goods & General Merchandise Stores,wear what you want #unpublisheddenim #unpublis...,creative@unpublishedcollection.com,NaN,https://scontent-lax3-1.cdninstagram.com/vp/7c...
2,sebastianyatra,Creators & Celebrities,Cantautor Colombiano 23 | Universal Music üôèüèª‚ö°...,jennacompono,Creators & Celebrities,0.155927,0.000065,0.577329,0.018100,creators celebrities jenna compono mtv s the c...,...,Sebastian Yatra,7531731,714,4170,https://youtu.be/dNa5gs24gis,Creators & Celebrities,Cantautor Colombiano 23 | Universal Music üôèüèª‚ö°...,roberto@andradedirak.com,NaN,https://scontent-lax3-1.cdninstagram.com/vp/d8...
3,britishvogue,Publishers,"Fashion, beauty and lifestyle through the Vogu...",lindseylondonmumma,Creators & Celebrities,0.211874,0.000024,0.561926,0.022624,creators celebrities l i n d s e y mumma blogg...,...,British Vogue,2896032,730,7938,http://vogue.uk/seemore,Publishers,"Fashion, beauty and lifestyle through the Vogu...",NaN,NaN,https://scontent-lax3-1.cdninstagram.com/vp/50...
4,johncena,Creators & Celebrities,Welcome to my Instagram. These images will be ...,flormorenapmw,Personal Goods & General Merchandise Stores,0.056785,0.000003,0.664341,0.000000,personal goods general merchandise stores flor...,...,John Cena,10265368,0,1567,NaN,Creators & Celebrities,Welcome to my Instagram. These images will be ...,NaN,NaN,https://scontent-lax3-1.cdninstagram.com/vp/8e...

In [21]:
print(brands_match_score_df.columns.tolist())

['brand_username', 'brand_category', 'brand_bio', 'influencer_username', 'influencer_category', 'engagement_rate_scaled', 'pagerank', 'bot_score', 'sponsored_posts_scaled', 'combined_text_infl', 'match_type', 'category_relevance_score', 'sentiment_score', 'brand_match_score', 'brand_match_score_scaled', 'name', 'followers', 'followees', 'posts', 'url', 'category', 'bio', 'email', 'phone', 'profile_pic']

In [22]:
brands_match_score_df.drop(columns=['combined_text_infl','brand_match_score','url','bio','category','phone','profile_pic'],inplace=True)

In [23]:
print(brands_match_score_df.columns.tolist())

['brand_username', 'brand_category', 'brand_bio', 'influencer_username', 'influencer_category', 'engagement_rate_scaled', 'pagerank', 'bot_score', 'sponsored_posts_scaled', 'match_type', 'category_relevance_score', 'sentiment_score', 'brand_match_score_scaled', 'name', 'followers', 'followees', 'posts', 'email']

In [27]:
  brands_match_score_df=brands_match_score_df.rename(columns={'name': 'brand_name','followers':'brand_follower','followees':'brand_followees','posts':'brand_posts'})

In [28]:
print(brands_match_score_df.columns.tolist())

['brand_username', 'brand_category', 'brand_bio', 'influencer_username', 'influencer_category', 'engagement_rate_scaled', 'pagerank', 'bot_score', 'sponsored_posts_scaled', 'match_type', 'category_relevance_score', 'sentiment_score', 'brand_match_score_scaled', 'brand_name', 'brand_follower', 'brand_followees', 'brand_posts', 'email']

In [31]:
reorder=['brand_name','brand_username','brand_bio','brand_category','brand_follower','brand_followees','brand_posts','email','influencer_username','influencer_category','engagement_rate_scaled','pagerank','bot_score','sponsored_posts_scaled','category_relevance_score', 'sentiment_score', 'brand_match_score_scaled']
brands_match_score_df=brands_match_score_df[reorder]

In [32]:
brands_match_score_df.head()

,brand_name,brand_username,brand_bio,brand_category,brand_follower,brand_followees,brand_posts,email,influencer_username,influencer_category,engagement_rate_scaled,pagerank,bot_score,sponsored_posts_scaled,category_relevance_score,sentiment_score,brand_match_score_scaled
0,Shraddha Arya,sarya12,SAüí´ So glad to see you here...AGAIN ;)! Twitt...,Creators & Celebrities,1065422,228,962,knackfortalent@gmail.com,inspiredbynick,Creators & Celebrities,0.195384,0.000010,0.650675,0.131222,0.054910,50.03,0.501372
1,Unpublished,unpublished,wear what you want #unpublisheddenim #unpublis...,Personal Goods & General Merchandise Stores,4184,1248,975,creative@unpublishedcollection.com,amy_jimin2,unknown,0.084011,0.000032,0.822662,0.000000,0.000000,50.00,0.495840
2,Sebastian Yatra,sebastianyatra,Cantautor Colombiano 23 | Universal Music üôèüèª‚ö°...,Creators & Celebrities,7531731,714,4170,roberto@andradedirak.com,jennacompono,Creators & Celebrities,0.155927,0.000065,0.577329,0.018100,0.061416,51.22,0.511533
3,British Vogue,britishvogue,"Fashion, beauty and lifestyle through the Vogu...",Publishers,2896032,730,7938,NaN,lindseylondonmumma,Creators & Celebrities,0.211874,0.000024,0.561926,0.022624,0.000000,49.79,0.497885
4,John Cena,johncena,Welcome to my Instagram. These images will be ...,Creators & Celebrities,10265368,0,1567,NaN,flormorenapmw,Personal Goods & General Merchandise Stores,0.056785,0.000003,0.664341,0.000000,0.000000,54.35,0.539396

In [33]:
print(brands_match_score_df.columns.tolist())

['brand_name', 'brand_username', 'brand_bio', 'brand_category', 'brand_follower', 'brand_followees', 'brand_posts', 'email', 'influencer_username', 'influencer_category', 'engagement_rate_scaled', 'pagerank', 'bot_score', 'sponsored_posts_scaled', 'category_relevance_score', 'sentiment_score', 'brand_match_score_scaled']

In [34]:
# --- Keep only brands that appear at least 6 times ---
brand_counts = merged_df['brand_username'].value_counts()
eligible_brands = brand_counts[brand_counts >= 6].index
filtered_df = merged_df[merged_df['brand_username'].isin(eligible_brands)]

print(f"‚úÖ Retained {len(eligible_brands)} brands appearing ‚â• 6 times.")

# --- Keep top 10 influencer matches per brand ---
filtered_top10_df = (
    filtered_df.sort_values(['brand_username', 'brand_match_score_scaled'], ascending=[True, False])
    .groupby('brand_username')
    .head(10)
    .reset_index(drop=True)
)

print("‚úÖ Extracted top 10 influencer matches per brand.")

# --- Reorder columns in the specified structure ---
desired_order = [
    'brand_name', 'brand_username', 'brand_bio', 'brand_category',
    'brand_follower', 'brand_followees', 'brand_posts', 'email',
    'influencer_username', 'influencer_category', 'engagement_rate_scaled',
    'pagerank', 'bot_score', 'sponsored_posts_scaled',
    'category_relevance_score', 'sentiment_score', 'brand_match_score_scaled'
]

# Keep only columns that exist (in case any are missing)
existing_cols = [col for col in desired_order if col in filtered_top10_df.columns]

filtered_top10_df = filtered_top10_df[existing_cols]

print("‚úÖ Columns reordered successfully!")

# --- Save final dataset ---
output_path = "filtered_brand_match_top10_final.csv"
filtered_top10_df.to_csv(output_path, index=False)

print(f"üíæ Final dataset saved to '{output_path}'")

‚úÖ Retained 755 brands appearing ‚â• 6 times.
‚úÖ Extracted top 10 influencer matches per brand.
‚úÖ Columns reordered successfully!
üíæ Final dataset saved to 'filtered_brand_match_top10_final.csv'

In [35]:
required_df=pd.read_csv('filtered_brand_match_top10_final.csv')
required_df.head()

,brand_username,brand_bio,brand_category,email,influencer_username,influencer_category,engagement_rate_scaled,pagerank,bot_score,sponsored_posts_scaled,category_relevance_score,sentiment_score,brand_match_score_scaled
0,1028_hongkong,È¶ôÊ∏ØÂÆòÊñπInstagramÂ∏≥Êà∂ üíü1028‰øÇÊªøË∂≥Â•≥‰ªîËøΩÊ±ÇÁæéÈ∫óÂòÖÈùàÊÑü‰æÜÊ∫êÊó•üíü ‚ú®Âè∞ÁÅ£‰∫∫Ê∞£ÁæéÂ¶ùÂìÅ...,unknown,NaN,feistyfoodie,unknown,0.165831,0.000048,0.513795,0.004525,0.214247,86.67,0.863561
1,1028_hongkong,È¶ôÊ∏ØÂÆòÊñπInstagramÂ∏≥Êà∂ üíü1028‰øÇÊªøË∂≥Â•≥‰ªîËøΩÊ±ÇÁæéÈ∫óÂòÖÈùàÊÑü‰æÜÊ∫êÊó•üíü ‚ú®Âè∞ÁÅ£‰∫∫Ê∞£ÁæéÂ¶ùÂìÅ...,unknown,NaN,ashyi,unknown,0.182128,0.000019,0.584778,0.036199,0.200540,77.23,0.770411
2,1028_hongkong,È¶ôÊ∏ØÂÆòÊñπInstagramÂ∏≥Êà∂ üíü1028‰øÇÊªøË∂≥Â•≥‰ªîËøΩÊ±ÇÁæéÈ∫óÂòÖÈùàÊÑü‰æÜÊ∫êÊó•üíü ‚ú®Âè∞ÁÅ£‰∫∫Ê∞£ÁæéÂ¶ùÂìÅ...,unknown,NaN,alyssalynch,unknown,0.177650,0.000552,0.550977,0.104072,0.212238,76.38,0.763181
3,1028_hongkong,È¶ôÊ∏ØÂÆòÊñπInstagramÂ∏≥Êà∂ üíü1028‰øÇÊªøË∂≥Â•≥‰ªîËøΩÊ±ÇÁæéÈ∫óÂòÖÈùàÊÑü‰æÜÊ∫êÊó•üíü ‚ú®Âè∞ÁÅ£‰∫∫Ê∞£ÁæéÂ¶ùÂìÅ...,unknown,NaN,morganjohnson__,unknown,0.107510,0.000072,0.660289,0.004525,0.145622,58.33,0.581064
4,1028_hongkong,È¶ôÊ∏ØÂÆòÊñπInstagramÂ∏≥Êà∂ üíü1028‰øÇÊªøË∂≥Â•≥‰ªîËøΩÊ±ÇÁæéÈ∫óÂòÖÈùàÊÑü‰æÜÊ∫êÊó•üíü ‚ú®Âè∞ÁÅ£‰∫∫Ê∞£ÁæéÂ¶ùÂìÅ...,unknown,NaN,jandova_andrea,unknown,0.334461,0.000083,0.458354,0.009050,0.159158,51.35,0.517386

In [37]:
required_df.shape

(6170, 13)

In [38]:
required_df['brand_username'].nunique()

755

In [40]:
infl_df=pd.read_csv('filtered_influencers_with_pagerank.csv')
infl_df.head()

,username,name,followers,followees,posts,category,url,tf,email,profile_pic,...,engagement_rate_scaled,combined_text,follow_ratio,posts_per_follower,follow_ratio_scaled,posts_scaled,engagement_scaled,bot_score,authenticity,pagerank
0,kendalljenner,Kendall,96476007,194,3005,unknown,http://apple.co/zazaworld,False,NaN,https://scontent-lax3-1.cdninstagram.com/vp/1b...,...,0.135906,unknown kendall,494748.753846,0.000031,0.999485,0.000094,0.135906,0.573783,Moderate ‚ö†Ô∏è,0.004680
1,khloekardashian,Khlo√©,80465206,143,3365,unknown,https://www.goodamerican.com/pages/activewear,False,NaN,https://scontent-lax3-1.cdninstagram.com/vp/61...,...,0.101097,unknown khlo download my official app xoxo sna...,558786.152778,0.000042,0.999532,0.000281,0.101097,0.600992,Moderate ‚ö†Ô∏è,0.004371
2,jlo,Jennifer Lopez,80852821,1084,2557,unknown,http://smarturl.it/LimitlessPresave,False,NaN,https://scontent-lax3-1.cdninstagram.com/vp/e5...,...,0.086407,unknown jennifer lopez worldofdance shadesofbl...,74518.729032,0.000032,0.997658,0.000141,0.086407,0.613435,Moderate ‚ö†Ô∏è,0.003868
3,instylemagazine,instylemagazine,2302262,1042,9149,Publishers,http://like2b.uy/instylemagazine,True,letters@instylemag.com,https://scontent-lax3-1.cdninstagram.com/vp/a9...,...,0.030898,publishers instylemagazine everybody s in,2207.346117,0.003974,0.971661,0.084828,0.030898,0.642625,Moderate ‚ö†Ô∏è,0.003606
4,loccitane,L'OCCITANE en Provence,800953,160,1790,Personal Goods & General Merchandise Stores,http://like2b.uy/loccitane,True,NaN,https://scontent-lax3-1.cdninstagram.com/vp/97...,...,0.032403,personal goods general merchandise stores l oc...,4974.863354,0.002235,0.984730,0.051197,0.032403,0.645845,Moderate ‚ö†Ô∏è,0.003581

<h5>creating a filtered rquired influencer set</h5>

In [48]:
# --- Step 1: Extract influencer usernames that appear in required_df ---
influencers_needed = required_df['influencer_username'].unique()

# --- Step 2: Filter infl_df accordingly ---
filtered_infl_df = infl_df[infl_df['username'].isin(influencers_needed)].reset_index(drop=True)

print(f"‚úÖ Retained {len(filtered_infl_df)} influencers appearing in required_df.")

# --- Step 3: (Optional) Save to CSV for later use ---
output_path = "filtered_influencer_profiles.csv"
filtered_infl_df.to_csv(output_path, index=False)

print(f"üíæ Filtered influencer dataset saved to '{output_path}'")

‚úÖ Retained 2543 influencers appearing in required_df.
üíæ Filtered influencer dataset saved to 'filtered_influencer_profiles.csv'

In [49]:
print(infl_df.columns.tolist())
print(required_df.columns.tolist())

['username', 'name', 'followers', 'followees', 'posts', 'category', 'url', 'tf', 'email', 'profile_pic', 'bio', 'profile_pic_missing', 'num_posts', 'likes', 'comments', 'engagement_rate', 'engagement_log', 'engagement_rate_scaled', 'combined_text', 'follow_ratio', 'posts_per_follower', 'follow_ratio_scaled', 'posts_scaled', 'engagement_scaled', 'bot_score', 'authenticity', 'pagerank']
['brand_username', 'brand_bio', 'brand_category', 'email', 'influencer_username', 'influencer_category', 'engagement_rate_scaled', 'pagerank', 'bot_score', 'sponsored_posts_scaled', 'category_relevance_score', 'sentiment_score', 'brand_match_score_scaled']

In [51]:
sentiment_score_df=pd.read_csv('sentiment_scores.csv')
sentiment_score_df.sample(1)

            username  sentiment_score dominant_sentiment
17649  mummylauretta            48.26          Neutral üòê

In [52]:
sentiment_df2=pd.read_csv('combined_sentiment_summary.csv')

In [53]:
sentiment_df2.head()

  post_id  positive_comments  negative_comments  neutral_comments
0  900000                8.0                7.0               6.0
1  900001                3.0                3.0               2.0
2  900002               14.0               13.0               8.0
3  900003               12.0               11.0              12.0
4  900004                6.0                6.0               5.0

In [54]:
#getting posts_df
import glob

# 1Ô∏è‚É£ Path to your chunked CSV files (adjust folder path & naming pattern)
csv_folder = r"C:\Users\DELL\project\DATASETS\json_chunks_csv"  # <-- change to where your chunked files are stored
csv_files = glob.glob(csv_folder + "/*.csv")  # matches all CSV files in folder

print(f"üîπ Found {len(csv_files)} chunk files.")

# 2Ô∏è‚É£ Read and combine them
df_list = []
for file in csv_files:
    print(f"üìÇ Reading: {file}")
    df_list.append(pd.read_csv(file))

# 3Ô∏è‚É£ Concatenate into one DataFrame
post_df = pd.concat(df_list, ignore_index=True)

print(f"‚úÖ Combined DataFrame shape: {final_df.shape}")
print(final_df.head())

üîπ Found 98 chunk files.
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_1.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_10.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_100.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_11.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_12.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_13.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_14.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_15.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_16.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_17.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_18.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_19.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_2.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_20.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_21.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_22.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_23.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_24.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_25.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_26.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_27.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_28.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_29.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_3.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_30.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_31.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_32.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_33.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_34.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_35.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_36.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_38.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_39.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_4.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_40.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_41.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_42.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_43.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_44.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_45.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_46.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_47.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_48.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_49.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_5.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_50.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_51.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_52.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_53.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_54.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_55.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_56.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_57.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_58.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_59.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_6.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_60.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_61.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_62.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_63.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_64.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_65.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_66.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_67.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_68.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_69.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_7.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_71.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_72.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_73.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_74.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_75.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_76.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_77.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_78.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_79.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_8.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_80.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_81.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_82.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_83.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_84.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_85.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_86.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_87.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_88.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_89.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_9.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_90.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_91.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_92.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_93.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_94.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_95.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_96.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_97.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_98.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_99.csv

NameError: name 'final_df' is not defined

In [62]:
post_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980000 entries, 0 to 979999
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   post_id      980000 non-null  int64
 1   username     980000 non-null  object
 2   sponsorship  980000 non-null  int64
 3   caption      975191 non-null  object
 4   likes        980000 non-null  int64
 5   comments     980000 non-null  int64
 6   hashtags     813688 non-null  object
 7   mentions     974910 non-null  object
 8   timestamp    980000 non-null  object
 9   media_type   980000 non-null  object
 10  display_url  980000 non-null  object
dtypes: int64(4), object(7)
memory usage: 82.2+ MB

In [57]:
sentiment_df2 = sentiment_df2.merge(
    post_df[['post_id','username']],   # only needed columns
    on='post_id', 
    how='left'   # keeps all sentiment_df rows, adds likes/comments where available
)

ValueError: You are trying to merge on object and int64 columns for key 'post_id'. If you wish to proceed you should use pd.concat

In [59]:
sentiment_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000309 entries, 0 to 1000308
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   post_id            1000308 non-null  object
 1   positive_comments  999908 non-null   float64
 2   negative_comments  999908 non-null   float64
 3   neutral_comments   999908 non-null   float64
dtypes: float64(3), object(1)
memory usage: 30.5+ MB

In [65]:
sentiment_df2['post_id'] = pd.to_numeric(sentiment_df2['post_id'], errors='coerce').astype('Int64')

In [66]:
sentiment_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000309 entries, 0 to 1000308
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   post_id            1000000 non-null  Int64
 1   positive_comments  999908 non-null   float64
 2   negative_comments  999908 non-null   float64
 3   neutral_comments   999908 non-null   float64
dtypes: Int64(1), float64(3)
memory usage: 31.5 MB

In [67]:
sentiment_df2 = sentiment_df2.merge(
    post_df[['post_id','username']],   # only needed columns
    on='post_id', 
    how='left'   # keeps all sentiment_df rows, adds likes/comments where available
)

In [68]:
sentiment_df2.head()

,post_id,positive_comments,negative_comments,neutral_comments,username
0,900000,8.0,7.0,6.0,mensfashionpost
1,900001,3.0,3.0,2.0,mensfashionpost
2,900002,14.0,13.0,8.0,mensfashionpost
3,900003,12.0,11.0,12.0,mensfashionpost
4,900004,6.0,6.0,5.0,mensfashionpost

In [69]:
print(sentiment_df2.columns.tolist())

['post_id', 'positive_comments', 'negative_comments', 'neutral_comments', 'username']

In [70]:
print(sentiment_score_df.columns.tolist())

['username', 'sentiment_score', 'dominant_sentiment']

In [71]:
import pandas as pd

# --- Step 1: Aggregate sentiment counts per influencer ---
agg_sentiment = sentiment_df2.groupby("username")[["positive_comments", "neutral_comments", "negative_comments"]].sum().reset_index()

# --- Step 2: Calculate total comments ---
agg_sentiment["total_comments"] = (
    agg_sentiment["positive_comments"] +
    agg_sentiment["neutral_comments"] +
    agg_sentiment["negative_comments"]
)

# --- Step 3: Calculate sentiment percentages ---
agg_sentiment["positive_percentage"] = round((agg_sentiment["positive_comments"] / agg_sentiment["total_comments"]) * 100, 2)
agg_sentiment["neutral_percentage"]  = round((agg_sentiment["neutral_comments"] / agg_sentiment["total_comments"]) * 100, 2)
agg_sentiment["negative_percentage"] = round((agg_sentiment["negative_comments"] / agg_sentiment["total_comments"]) * 100, 2)

# --- Step 4: Merge with sentiment_score_df ---
sentiment_final_df = pd.merge(
    agg_sentiment,
    sentiment_score_df[["username", "sentiment_score", "dominant_sentiment"]],
    on="username",
    how="left"
)

# --- Step 5: Optional: keep only relevant columns ---
sentiment_final_df = sentiment_final_df[
    ["username", "positive_percentage", "neutral_percentage", "negative_percentage", "sentiment_score", "dominant_sentiment"]
]

print("‚úÖ sentiment_final_df created successfully!")
sentiment_final_df.head()

‚úÖ sentiment_final_df created successfully!

,username,positive_percentage,neutral_percentage,negative_percentage,sentiment_score,dominant_sentiment
0,00_rocketgirl,35.56,27.22,37.22,49.17,Neutral üòê
1,00s_supermodels,75.00,25.00,0.00,87.50,Positive üòÑ
2,0720_b,34.09,29.55,36.36,48.86,Neutral üòê
3,0hkris,34.69,29.95,35.36,49.67,Neutral üòê
4,0ldisme,66.18,22.77,11.05,77.57,Positive üòÑ

In [73]:
requ_infl=pd.read_csv("filtered_influencer_profiles.csv")

In [75]:
requ_infl.head()
requ_infl.shape

(2543, 27)

In [76]:
# Extract the influencer usernames that you want to keep
valid_usernames = requ_infl['username'].unique()

# Filter sentiment_final_df
sentiment_final_df_filtered = sentiment_final_df[
    sentiment_final_df['username'].isin(valid_usernames)
].reset_index(drop=True)

print(f"‚úÖ Reduced dataset created: {len(sentiment_final_df_filtered)} rows retained.")
sentiment_final_df_filtered.to_csv("sentiment_final_filtered.csv", index=False)
print("üíæ Saved as sentiment_final_filtered.csv")

‚úÖ Reduced dataset created: 2533 rows retained.
üíæ Saved as sentiment_final_filtered.csv