In [1]:
import pandas as pd
import numpy as np

In [2]:
sent_df=pd.read_csv('combined_sentiment_summary.csv')
infl_df=pd.read_csv('influencers_profiles.csv')
infl_df_details=pd.read_csv('filtered_influencers_with_pagerank.csv')

In [3]:
sent_df.sample(1)

       post_id  positive_comments  negative_comments  neutral_comments
100499     494               68.0               15.0               8.0

In [4]:
infl_df.sample(1)

,username,name,followers,followees,posts,category,url,tf,email,phone,profile_pic,bio
36434,canadian,Canadian muas,1462,1779,660,NaN,NaN,False,NaN,NaN,NaN,Supporting Canadian Muas üçÅ‚ù§Ô∏è Tag us for a chan...

In [5]:
infl_df_details.sample(1)

,username,name,followers,followees,posts,category,url,tf,email,profile_pic,...,engagement_rate_scaled,combined_text,follow_ratio,posts_per_follower,follow_ratio_scaled,posts_scaled,engagement_scaled,bot_score,authenticity,pagerank
7225,nuriagap,N√öRIA GARCIA,14780,3005,1046,General Interest,NaN,True,nuriagarciap@outlook.es,https://scontent-lax3-1.cdninstagram.com/vp/41...,...,0.174348,general interest n ria garcia content creator ...,4.916833,0.070767,0.313692,0.592955,0.174348,0.680321,Moderate ‚ö†Ô∏è,0.00005

In [6]:
import pandas as pd
import glob

# 1Ô∏è‚É£ Path to your chunked CSV files (adjust folder path & naming pattern)
csv_folder = r"C:\Users\DELL\project\DATASETS\json_chunks_csv"  # <-- change to where your chunked files are stored
csv_files = glob.glob(csv_folder + "/*.csv")  # matches all CSV files in folder

print(f"üîπ Found {len(csv_files)} chunk files.")

# 2Ô∏è‚É£ Read and combine them
df_list = []
for file in csv_files:
    print(f"üìÇ Reading: {file}")
    df_list.append(pd.read_csv(file))

# 3Ô∏è‚É£ Concatenate into one DataFrame
post_df = pd.concat(df_list, ignore_index=True)

print(f"‚úÖ Combined DataFrame shape: {post_df.shape}")
print(final_df.head())

üîπ Found 98 chunk files.
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_1.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_10.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_100.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_11.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_12.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_13.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_14.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_15.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_16.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_17.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_18.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_19.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_2.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_20.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_21.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_22.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_23.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_24.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_25.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_26.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_27.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_28.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_29.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_3.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_30.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_31.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_32.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_33.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_34.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_35.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_36.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_38.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_39.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_4.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_40.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_41.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_42.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_43.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_44.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_45.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_46.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_47.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_48.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_49.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_5.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_50.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_51.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_52.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_53.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_54.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_55.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_56.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_57.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_58.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_59.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_6.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_60.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_61.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_62.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_63.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_64.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_65.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_66.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_67.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_68.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_69.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_7.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_71.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_72.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_73.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_74.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_75.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_76.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_77.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_78.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_79.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_8.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_80.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_81.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_82.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_83.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_84.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_85.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_86.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_87.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_88.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_89.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_9.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_90.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_91.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_92.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_93.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_94.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_95.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_96.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_97.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_98.csv
üìÇ Reading: C:\Users\DELL\project\DATASETS\json_chunks_csv\influencers_part_99.csv
‚úÖ Combined DataFrame shape: (980000, 11)

NameError: name 'final_df' is not defined

In [7]:
sent_df['post_id'] = pd.to_numeric(sent_df['post_id'], errors='coerce')

# Sort the DataFrame by post_id in ascending order
sent_df = sent_df.sort_values(by='post_id', ascending=True).reset_index(drop=True)

# Display first few rows to confirm
print(sent_df.head())

   post_id  positive_comments  negative_comments  neutral_comments
0      0.0                1.0                0.0               1.0
1      1.0               10.0                2.0               1.0
2      2.0                3.0                0.0               1.0
3      3.0                1.0                0.0               0.0
4      4.0                2.0                0.0               1.0

In [8]:
sent_df['post_id'] = sent_df['post_id'].astype('Int64') #converting to integer
sent_df['positive_comments'] = sent_df['positive_comments'].astype('Int64') #converting to integer
sent_df['negative_comments'] = sent_df['negative_comments'].astype('Int64') #converting to integer
sent_df['neutral_comments'] = sent_df['neutral_comments'].astype('Int64') #converting to integer

In [9]:
sent_df['positive_comments'].fillna(0)
sent_df['negative_comments'].fillna(0)
sent_df['neutral_comments'].fillna(0)
sent_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000309 entries, 0 to 1000308
Data columns (total 4 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   post_id            1000000 non-null  Int64
 1   positive_comments  999908 non-null   Int64
 2   negative_comments  999908 non-null   Int64
 3   neutral_comments   999908 non-null   Int64
dtypes: Int64(4)
memory usage: 34.3 MB

In [10]:
sent_df = sent_df[sent_df['post_id'].isin(post_df['post_id'])].reset_index(drop=True)

In [11]:
sent_df = sent_df.merge(
    post_df[['post_id', 'likes', 'comments','username']],   # only needed columns
    on='post_id', 
    how='left'   # keeps all sentiment_df rows, adds likes/comments where available
)
sent_df.head()

,post_id,positive_comments,negative_comments,neutral_comments,likes,comments,username
0,0,1,0,1,914,3,alisasia
1,1,10,2,1,1526,14,alisasia
2,2,3,0,1,1243,6,alisasia
3,3,1,0,0,1011,3,alisasia
4,4,2,0,1,886,4,alisasia

In [12]:
infl_df_details.head(1)

,username,name,followers,followees,posts,category,url,tf,email,profile_pic,...,engagement_rate_scaled,combined_text,follow_ratio,posts_per_follower,follow_ratio_scaled,posts_scaled,engagement_scaled,bot_score,authenticity,pagerank
0,kendalljenner,Kendall,96476007,194,3005,unknown,http://apple.co/zazaworld,False,NaN,https://scontent-lax3-1.cdninstagram.com/vp/1b...,...,0.135906,unknown kendall,494748.753846,0.000031,0.999485,0.000094,0.135906,0.573783,Moderate ‚ö†Ô∏è,0.00468

In [13]:
infl_df_details.drop(columns=['url','tf','profile_pic','combined_text','follow_ratio','posts_per_follower','follow_ratio_scaled','engagement_scaled'],inplace=True)

In [14]:
infl_df_details.head(1)

,username,name,followers,followees,posts,category,email,bio,profile_pic_missing,num_posts,likes,comments,engagement_rate,engagement_log,engagement_rate_scaled,posts_scaled,bot_score,authenticity,pagerank
0,kendalljenner,Kendall,96476007,194,3005,unknown,NaN,NaN,0,85,243287858,4542021,3.022146,1.391816,0.135906,0.000094,0.573783,Moderate ‚ö†Ô∏è,0.00468

In [16]:
infl_df_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21349 entries, 0 to 21348
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   username                21349 non-null  object
 1   name                    21115 non-null  object
 2   followers               21349 non-null  int64
 3   followees               21349 non-null  int64
 4   posts                   21349 non-null  int64
 5   category                21349 non-null  object
 6   email                   17514 non-null  object
 7   bio                     21027 non-null  object
 8   profile_pic_missing     21349 non-null  int64
 9   num_posts               21349 non-null  int64
 10  likes                   21349 non-null  int64
 11  comments                21349 non-null  int64
 12  engagement_rate         21349 non-null  float64
 13  engagement_log          21349 non-null  float64
 14  engagement_rate_scaled  21349 non-null  float64
 15  posts_scaled            21349 non-null  float64
 16  bot_score               21349 non-null  float64
 17  authenticity            21349 non-null  object
 18  pagerank                21349 non-null  float64
dtypes: float64(6), int64(7), object(6)
memory usage: 3.1+ MB

In [17]:
infl_df_details['name'].astype(str)

0                               Kendall
1                                 Khlo√©
2                        Jennifer Lopez
3                       instylemagazine
4                L'OCCITANE en Provence
                      ...
21344               Fashion Style Blogs
21345         Ariadne, m√£e de 3! üë¶üèºüë¶üèªüë∂üèª
21346                     mybestfashion
21347    Class and Fashion A. Saglietti
21348                        LimeliteTV
Name: name, Length: 21349, dtype: object

In [19]:
infl_df_details['email'] = infl_df_details.apply(
    lambda row: f"{str(row['name']).strip().lower()}@gmail.com"
    if pd.isna(row['email']) else row['email'],
    axis=1
)

In [21]:
infl_df_details.head(1)

,username,name,followers,followees,posts,category,email,bio,profile_pic_missing,num_posts,likes,comments,engagement_rate,engagement_log,engagement_rate_scaled,posts_scaled,bot_score,authenticity,pagerank
0,kendalljenner,Kendall,96476007,194,3005,unknown,kendall@gmail.com,NaN,0,85,243287858,4542021,3.022146,1.391816,0.135906,0.000094,0.573783,Moderate ‚ö†Ô∏è,0.00468

In [22]:
sent_df.head()

,post_id,positive_comments,negative_comments,neutral_comments,likes,comments,username
0,0,1,0,1,914,3,alisasia
1,1,10,2,1,1526,14,alisasia
2,2,3,0,1,1243,6,alisasia
3,3,1,0,0,1011,3,alisasia
4,4,2,0,1,886,4,alisasia

In [23]:
# Make a copy so we don't mess original
sent_summary = sent_df.copy()

# Total comments
sent_summary['total_comments'] = sent_summary['positive_comments'] + sent_summary['neutral_comments'] + sent_summary['negative_comments']

# Percentages
sent_summary['positive_pct'] = (sent_summary['positive_comments'] / sent_summary['total_comments']) * 100
sent_summary['neutral_pct']  = (sent_summary['neutral_comments']  / sent_summary['total_comments']) * 100
sent_summary['negative_pct'] = (sent_summary['negative_comments'] / sent_summary['total_comments']) * 100

In [24]:
sent_summary['sentiment_score'] = (sent_summary['positive_pct'] * 1 + 
                                   sent_summary['neutral_pct']  * 0.5 + 
                                   sent_summary['negative_pct'] * 0) / 100 * 100

In [25]:
sent_summary = sent_summary.groupby('username', as_index=False)[
    ['positive_pct', 'neutral_pct', 'negative_pct', 'sentiment_score']
].mean()

In [26]:
infl_df_details = infl_df_details.merge(sent_summary, on='username', how='left')

In [27]:
infl_df_details.head(1)

,username,name,followers,followees,posts,category,email,bio,profile_pic_missing,num_posts,...,engagement_log,engagement_rate_scaled,posts_scaled,bot_score,authenticity,pagerank,positive_pct,neutral_pct,negative_pct,sentiment_score
0,kendalljenner,Kendall,96476007,194,3005,unknown,kendall@gmail.com,NaN,0,85,...,1.391816,0.135906,0.000094,0.573783,Moderate ‚ö†Ô∏è,0.00468,34.952516,29.933684,35.1138,49.919358

In [28]:
infl_df_details.drop(columns=['profile_pic_missing','posts_scaled'],inplace=True)

In [29]:
infl_df_details.to_csv("infl_for_dashboard.csv", index=False)